@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


MENU ALUMNOS

<li>@Html.ActionLink("MisCursos", "Index", "MisCursos")</li>
<li>@Html.ActionLink("Grupos de practicas", "Index", "GrupoPracticas")</li>
<li>@Html.ActionLink("Mis evaluaciones", "Index", "Misevaluaciones")</li>


