@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


MENU ADMIN

<li>@Html.ActionLink("Cursos", "Index", "Cursos")</li>
<li>@Html.ActionLink("Asignación docente", "Index", "AsignacionDocentes")</li>

