@{
    ViewBag.Title = "Contact";
}


    <h1>
        Rodrigo Lallana Guardia
    </h1>
    <h1>
        Miguel Ángel Perez Souza
    </h1>
    <h1>
        Germán González Garzón
    </h1>
    <h1>
        Álvaro Recalde Alguacil
    </h1>